@@ -4,6 +4,7 @@
 # or operating system, you probably want to add a global ignore instead:
 #   git config --global core.excludesfile ~/.gitignore_global
 
.git/
.git/*
*~
 # Ignore bundler config
 /.bundle
 
@@ -13,4 +14,5 @@
 # Ignore all logfiles and tempfiles.
 /log/*.log
 /tmp
-
*/.DS_Store
*.DS_Store
log/development.log
log/newrelic_agent.log
tmp
tmp
tmp
log
tmp
