.container  
  .jumbotron
    %h1 
      Welcome to the
      %br 
      Letterpress Genius
    - if user_signed_in?
      =link_to 'My games', games_path, {:class => 'btn btn-primary btn-large'}
    - else
      = link_to new_user_session_path, {:class => 'btn btn-primary btn-large'} do
        %i.icon-signin
        Login
      = link_to 'Register', new_user_registration_path, {:class => 'btn btn-default'}