.container  
  .jumbotron
    %h1= t('home.title.application')
    - if user_signed_in?
      =link_to t('home.games'), games_path, {:class => 'btn btn-primary btn-large'}
    - else
      = link_to new_user_session_path, {:class => 'btn btn-primary btn-large'} do
        %i.icon-signin
        = t('home.login')
      = link_to t('home.register'), new_user_registration_path, {:class => 'btn btn-default'}